
<%= include ../partials/top %>
<main>
    <div class="">  
            <div class="jumbotron">
                <h1>List of Members
                </h1>
                  <p>

                   <section class="list-group">
                       <% users.forEach(function (users) { %>
                        <ul>
                        <li class="list-group-item active"><%= users.username %></li>
                        <li class="list-group-item">First Name: <%= users.firstName %></li>
                        <li class="list-group-item">Last Name: <%= users.lastName %></li>
                        <li class="list-group-item">Age: <%= users.age %></li>
                        <li class="list-group-item">Gender: <%= users.gender %></li>
                        <li class="list-group-item">Height: <%= users.height %></li>
                        <li class="list-group-item">Weight: <%= users.weight %></li>
                        <li class="list-group-item"><a href="/profile/<%= users._id %>">Check Profile</a></li>
                    </ul>
                    <% }) %>
                </section> 
                </p>
            </div>
</main>
<%= include ../partials/bottom %>