<%= include ../partials/top %>

<main>
        <h3>Edit</h3>
        <form class="well" method="POST", action="/profile/edit-profile/<%= users._id %>">
            <div id="form-group">
                <label>Username</label>
                <input type="text" class="form-control", name="username" value="<%= users.username %>">
            </div>
            <div id="form-group">
                <label>Password</label>
                <input type="password" class="form-control", name="password" value="<%= users.password %>">
            </div>
            <div id="form-group">
                    <label>First Name<label>
                    <input type="text" class="form-control", name="firstName" value="<%= users.firstName %>">
                </div>
            <div id="form-group">
                    <label>Last Name<label>
                    <input type="text" class="form-control", name="lastName" value="<%= users.lastName %>">
            </div>
            <div id="form-group">
                    <label>Age<label>
                    <input type="text" class="form-control", name="age" value="<%= users.age %>">
            </div>
            <div id="form-group">
                    <label>Gender<label>
                    <input type="text" class="form-control", name="gender" value="<%= users.gender %>">
            </div>
            <div id="form-group">
                        <label>Height<label>
                        <input type="number" class="form-control", name="height" value="<%= users.height %>">
                </div>
                <div id="form-group">
                        <label>Weight<label>
                        <input type="number" class="form-control", name="weight" value="<%= users.weight %>">
                </div>
            <input class="btn" class="btn-primary" type="submit" value="submit">
        </form>
</main>
<%= include ../partials/bottom %>