
<%= include ../partials/top %>
<main>
    <div class="row">
        <div class="col-sm-8">    
            <div class="jumbotron">
                <h1>List of Members
                </h1>
                <p>
                   <section class="member-oveview">
                       <% members.forEach(function (members) { %>
                        <ul>
                        <li class="list-group-item active"><%= members.username %></li>
                        <li class="list-group-item">First Name: <%= members.firstName %></li>
                        <li class="list-group-item">Last Name: <%= members.lastName %></li>
                        <li class="list-group-item">Age: <%= members.age %></li>
                        <li class="list-group-item">Gender: <%= members.gender %></li>
                        <li class="list-group-item">Height: <%= members.height %></li>
                        <li class="list-group-item">Weight: <%= members.weight %></li>
                        <li class="list-group-item"><a href="/profile/<%= members._id %>">Check Profile</a></li>
                    </ul>
                    <% }) %>
                </section>
                    
                </p>
            </div>
        </div>
            <% include ../partials/register-form %>
</div>
</main>
<%= include ../partials/bottom %>