<%= include ../partials/top %>

<main>
    <div class="row">
        <div class="col-sm-8">    
            <div class="jumbotron">
                    <p>
                            <section class="list-group">
                                 <ul class="list-group">
                                 <li class="list-group-item">User name: <%= members.username %></li>
                                 <li class="list-group-item">First Name: <%= members.firstName %></li>
                                 <li class="list-group-item">Last Name: <%= members.lastName %></li>
                                 <li class="list-group-item">Age: <%= members.age %></li>
                                 <li class="list-group-item">Gender: <%= members.gender %></li>
                                 <li class="list-group-item">Height: <%= members.height %></li>
                                 <li class="list-group-item">Weight: <%= members.weight %></li>
                             </ul>
                         </section>
                             
                         </p>
                    <li><a class="btn" class="btn-default" href="/profile/edit-profile/<%= members._id %>">Edit Profile</a></li>
                    <li><a class="btn" class="btn-default" href="/profile/delete/<%= members._id %>">Delete Profile</a></li>
            </div>
        </div>

</div>
</main>
<%= include ../partials/bottom %>